@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Medium.ttf')  format('truetype');
}

html {
    background-color: #111241;
    color: #ffdddd;
    font-family: Montserrat, sans-serif;
}

a {
    color: #ff5555;    
}

a:visited {
    color: #902c2c;
}

a:hover {
    color: #f47575;
}

dl {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

dt {
    margin: 0;
	padding: 0.5em 0 0 0;
}

dd {
    margin: 0em;
	padding: 0.5em 0 0.5em 2em;
}

.date {
    font-size: 80%;
    color: #aa0f0f;
}