@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Medium.ttf')  format('truetype');
}

@font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/SourceCodePro-Medium.ttf')  format('truetype');
}

html {
    background-color: #111241;
    color: #ffdddd;
    font-family: Montserrat, sans-serif;
    font-size: 1.2em;
    line-height: 1.35rem;
}

h1, h2 {
    line-height: 2rem;
}

a {
    color: #ff5555;    
}

a:visited {
    color: #902c2c;
}

a:hover {
    color: #f47575;
}

dl {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

dt {
    margin: 0;
	padding: 0.5em 0 0 0;
}

dd {
    margin: 0em;
	padding: 0.5em 0 0.5em 2em;
}

.date {
    font-size: 80%;
    color: #aa0f0f;
}

code {
    color: #a8c8ff;
    font-family: SourceCodePro, monospace;
}

blockquote {
    color: #ffc8c8;
    border: 1px solid #ffffff;
    padding: .5em 1em;
}